@using MVC.ArticleAdventure.Helpers;
@using domain.ArticleAdventure.Entities;
@using domain.ArticleAdventure.Helpers;
@{
    var user = SessionExtensionsMVC.Get<UserProfile>(Context.Session, SessionStoragePath.USER);

}
<div>
    <div>Image</div>
    <div>@user.UserName</div>
    <div style="display: grid;">
        <a asp-controller="User" asp-action="MyProfile">View Profile</a>
        <a asp-controller="User" asp-action="EditProfile">Edit Profile</a>
        <a asp-controller="User" asp-action="AccountSecurity">AccountSecurity</a>
        <a asp-controller="New" asp-action="LogOutAccount">Log Out</a>
    </div>
</div>