@model domain.ArticleAdventure.Models.IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<script>
    //document.addEventListener("Loaded", function () {
    //    saveToLocalStorage();
    //    //var myData = localStorage.getItem("Payments");
    //    //if (myData) {
    //    //    // Знайдено дані в localStorage, відобразіть їх на сторінці
    //    //    document.getElementById("PaymentsContainer").innerText = myData;
    //    //} else {
    //    //    // Даних в localStorage не знайдено
    //    //    document.getElementById("PaymentsContainer").innerText = "Дані не знайдено в localStorage.";
    //    //}
    //});
    //function saveToLocalStorage() {
    //    // JavaScript code to save data to localStorage
    //    localStorage.setItem("Payments", "");
    //}

</script>