@using MVC.ArticleAdventure.Helpers;
@model domain.ArticleAdventure.Models.AccountSecurityModel
<div class="profile_page">
    <div class="sideBar_container">
        @Html.Partial("_RightSideProfileEdit")
    </div>
    <div class="content_container">
        <div class="content_header">
            <h1>
                Account
            </h1>
            <p>
                Here you can change your account settings and password.
            </p>
        </div>
        <div class="content_body">
            <div class="t">Email:</div>
            <div class="input_email_wrapper">
                <input type="text" disabled placeholder="Your email: @Context.Request.Cookies[CookiesPath.EMAIL] " />
                <label for="isOpenModal">Edit</label>
            </div>
            <div class="line"></div>
            <div class="t">Password:</div>
            <form asp-action="AccountSecurity" style="display: grid;">
                <input type="password" placeholder="CurrentPassword" asp-for="CurrentPassword" />
                <input type="password" placeholder="NewPassword" asp-for="NewPassword" />
                <input type="password" placeholder="ConfirmNewPassword" asp-for="ConfirmNewPassword" />
            </form>
            <div class="button_float_wrapper">
                <button formmethod="post">Save</button>
            </div>
        </div>
        <div class="modal_wrapper">
            <input type="checkbox" id="isOpenModal" />
            <div class="modal_container">
                <div class="modal_form">
                    <label class="close_modal" for="isOpenModal">x</label>
                    <form asp-action="AccountSecurityEmail">
                        <h4>Changing your email address</h4>
                        <div>
                            <label for="newEmail">New email address:</label>
                            <input type="email" asp-for="NewEmail" name="newEmail" required>

                            <label for="password">Password:</label>
                            <input type="password" asp-for="ConfirmPasswordUpdateEmail">
                            <div class="button_float_wrapper">
                                <button formmethod="post" type="submit">Save changes</button>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
