@model domain.ArticleAdventure.Models.EditProfileModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="display:flex">
    <div class="profile_page">
        <div class="sideBar_container">
            @Html.Partial("_RightSideProfileEdit")
        </div>
        <div class="content_container">
            <form style="display: grid;">
                <input type="text" placeholder="Name" asp-for="UserProfile.UserName" />
                <input type="text" placeholder="SurName" asp-for="UserProfile.SurName" />
                <input type="text" placeholder="InformationAccount" asp-for="UserProfile.InformationAccount" />
                <button formmethod="post">change</button>
            </form>
        </div>
    </div>
</div>
