@using MVC.ArticleAdventure.Helpers;
@model domain.ArticleAdventure.Models.EditProfileModel

<div class="profile_page">
    <div class="sideBar_container">
        @Html.Partial("_RightSideProfileEdit")
    </div>
    <div class="content_container">
        <div class="content_header">
            <h1>
                Public profile
            </h1>
            <p>
                Add information about yourself
            </p>
        </div>
        <div class="content_body">
            <form enctype="multipart/form-data">
                <input type="text" placeholder="Name" asp-for="UserProfile.UserName" />
                @if (UserRoleHelper.IsUserRole(User.Claims, Roles.Admin))
                {
                    <input type="text" placeholder="SurName" asp-for="UserProfile.SurName" />
                }
                <div class="aboba">
                    <div>Information Article</div>
                    <textarea cols="20" rows="3" asp-for="UserProfile.InformationAccount"></textarea>
                </div>
                @if (UserRoleHelper.IsUserRole(User.Claims, Roles.Admin))
                {
                    <div>Admin Setting</div>
                    <input type="file" asp-for="@Model.PhotoMainArticle"
                           enctype="multipart/form-data" multiple accept=".jpg,.jpeg,.png" />
                    <input type="text" placeholder="LinkFacebook" asp-for="UserProfile.LinkFacebook" />
                    <input type="text" placeholder="LinkInstagram" asp-for="UserProfile.LinkInstagram" />
                    <input type="text" placeholder="LinkTelegram" asp-for="UserProfile.LinkTelegram" />
                    <input type="text" placeholder="LinkTwitter" asp-for="UserProfile.LinkTwitter" />
                }

                <div class="button_float_wrapper">
                    <button formmethod="post">Change</button>
                </div>
            </form>
        </div>
    </div>
</div>
