@model data.ArticleAdventure.Views.All.AllModel
@using data.ArticleAdventure.PageCode;
@{
}
@foreach (var description in Model.Blogs)
{
    <div style="background-color:white;color:#1e1e1e">
        <div style="display:flex;">
            <input formmethod="get"
                   class="input__CONTROL"
                   type="submit" value="Delete" asp-page-handler="Submit" onclick="location.href='@Url.Action("All", "All",new {netUidBlog =description.NetUid})'" />
            <h2 style="text-align:center;margin-left: auto;"> @description.Title</h2>
            <input formmethod="get"
            class="input__CONTROL"
                   type="submit" value="Change" asp-page-handler="Submit" onclick="location.href='@Url.Action("EditBlog", "New",new {netUidBlog =description.NetUid})'" />
        </div>
        <div> @Html.Raw(description.Body)</div>
    </div>
    <br/>
}

