@model domain.ArticleAdventure.Models.ChangeArticleModel

<div class="article_change">
    <form asp-controller="New">
        <div class="meta_row">
            <div class="inputs">
                <div class="input" style="width: calc(50% - 80px);">
                    <input type="text" placeholder="Subject header" asp-for="Article.Title" />
                </div>
                <div class="input" style="width: calc(50% - 80px);">
            <input type="text" placeholder="Subject Description" asp-for="Article.Description" />
                </div>
                <div class="input" style="width: calc(50% - 400px);">
            <input type="text" placeholder="Price" asp-for="Article.Price" />
                </div>
            </div>
            <button formaction="SubArticle" formmethod="post" type="submit" value="Save">Add Subarticle</button>
        </div>
<textarea cols="20" rows="3" asp-for="Article.Body"></textarea>
    </form>
</div>