@model domain.ArticleAdventure.Models.GetInformationArticleModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container_content">
    <div class="articles_list_container">
        @foreach (var Article in Model.MainArticle.Articles)
        {
            <article class="article_item">
                <div class="item_container">
                    <div class="item_header">
                        <div class="title_container">
                            <div class="title">@Article.Title</div>
                            <div class="created">
                                @Article.Created
                            </div>
                        </div>
                    </div>


                    <div class="item_body">
                        <p>
                            @Html.Raw(Article.Body)
                        </p>
                        
                        <div class="item_tags">
                            <ol>
                                @foreach (var item in Model.MainArticle.ArticleTags)
                                {
                                    <li>
                                        <span style="color:@item.SupTag.Color">#</span>
                                        <span>@item.SupTag.Name</span>
                                    </li>
                                }
                            </ol>
                        </div>
                    </div>

                </div>
            </article>
        }
    </div>
</div>
