@model domain.ArticleAdventure.Models.NewArticleModel


<div class="article_change">
    <form asp-controller="New">
        <div class="meta_row">
            <div class="inputs">
                <div class="input" style="width:99%">
                    <input type="text" placeholder="Title" asp-for="Title" />
                </div>
                @*<div class="input">
                <input type="text" placeholder="Description" asp-for="Description" />
                </div>*@
            </div>
            <button formaction="NewBlog" formmethod="post" type="submit" value="Save">Save Articles</button>

        </div>
        <div class="meta_row">
            <div class="inputs">
                <div class="input" style="width: calc(50% - 80px);">
                    <input type="text" placeholder="Subject header" asp-for="authorArticle.Title" />
                </div>
                <div class="input" style="width: calc(50% - 80px);">
                    <input type="text" placeholder="Subject Description" asp-for="authorArticle.Description" />
                </div>
                <div class="input" style="width: calc(50% - 400px);">
                    <input type="text" placeholder="Price" asp-for="authorArticle.Price" />
                </div>
            </div>
            <button formaction="SubArticle" formmethod="post" type="submit" value="Save">Add Subarticle</button>
        </div>
        @* <div class="meta_row_all_buttons">
        @foreach (var mainTag in Model.MainTags)
        {
        @foreach (var subTag in mainTag.SubTags)
        {
        <button formaction="IsSelect" formmethod="post">@subTag.Name</button>
        }
        }
        </div>*@
        @*<input type="file"/>*@
        <textarea cols="20" rows="3" asp-for="authorArticle.Body"></textarea>
    </form>

</div>