 @model domain.ArticleAdventure.Models.RegisterEmailModel
<form method="post">
    <table>
    <tr>
        <td>Email</td>
        <td>
            <input type="email" asp-for="@Model.Email" />
        </td>
    </tr>



    </table>
</form>

<tr>
    <td>&nbsp;</td>
    <td>
        <input asp-page-handler="Submit" type="submit" value="Send Mail" onclick="location.href='@Url.Action("CreateAccount", "Identity")'" />
    </td>
</tr>