@page
@model data.ArticleAdventure.Views.New.NewModel
<div class="new__CONTROLS">
    <div >
        <input class="input__CONTROL" type="text"
               placeholder="Title"
        />
    </div>
    <div >
        <input class="input__CONTROL" type="text"
               placeholder="Description"
        />
    </div>

    <div class="saveBUTTON">Save</div>
    <div></div>
</div>
 <form method="post">
            <textarea style="background-image:linear-gradient( #fdfdfd,#1e1e1e );" cols="20" rows="3" name="PersonalDetails"></textarea>
        </form>
<div class="acticle__new__PAGE">
</div>
