@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700&display=swap');

//"Source Serif Pro", "Source Sans Pro", serif

@font-face {
    font-family: "Source Sans Pro";
    src: url("./fonts/SourceSans3-Regular.ttf");
    src: url("./fonts/SourceSans3-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url("./fonts/SourceSerif4-Regular.ttf");
    src: url("./fonts/SourceSerif4-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

$font_DEFAULT: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font_app: 'Nunito', sans-serif;



body {
    font-family: $font_app;
}