@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700&display=swap");
body {
  font-family: "Nunito", sans-serif;
}

.articles_list_container {
  padding: 20px 0;
}

.item_box_title {
  font-size: 28px;
  padding-top: 14.4px;
  margin-bottom: 17.6px;
  line-height: 1.4;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  color: var(--epcl-titles-color);
}

.article_item,
.archicle_info_item {
  background-color: #fff;
  margin: 0 auto 50px;
  padding: 50px 60px;
  -webkit-box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.1), 0 22px 27px -30px rgba(7, 10, 25, 0.1);
  box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.1), 0 22px 27px -30px rgba(7, 10, 25, 0.1);
  position: relative;
  z-index: 2;
}

.archicle_btn {
  color: #fff;
  font-size: 15px;
  padding: 8px 25px;
  letter-spacing: 0.5px;
  font-family: "Josefin Sans", sans-serif;
  border: 2px solid var(--epcl-black-color);
  background-color: var(--epcl-black-color);
  position: relative;
  min-height: 44px;
}
.archicle_btn.full {
  width: 100%;
}
.archicle_btn:before {
  content: "";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  z-index: 1;
  position: absolute;
  transition: all 0.3s ease;
  border: 1px solid var(--epcl-black-color);
}
.archicle_btn:hover:before {
  border-color: #fff;
}

.article_item .item_controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.article_item .item_controls .controls_wrapper {
  height: 40px;
}
.article_item .item_controls .controls_wrapper input {
  border: 1px solid #87af44;
  background-color: #fff;
  color: #87af44;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px 20px;
  font-weight: 600;
  margin: 0 2px;
}
.article_item .item_controls .controls_wrapper input:hover {
  background-color: #87af44;
  color: #fff;
}
.article_item .item_controls .controls_wrapper input.delete {
  border-color: red;
  color: red;
}
.article_item .item_controls .controls_wrapper input.delete:hover {
  background-color: red;
  color: #fff;
}
.article_item .item_body p {
  margin: 35px 0 60px;
  color: var(--epcl-text-color);
  letter-spacing: 0.5px;
  font-size: 17px;
}
.article_item .item_header {
  display: flex;
}
.article_item .item_header .img {
  width: 120px;
  height: 120px;
  box-shadow: 0 0 1px red;
  margin-right: 20px;
}
.article_item .item_header .title_container {
  width: calc(100% - 140px);
}
.article_item .item_header .title_container .title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 40px;
  line-height: 1.45;
  letter-spacing: 0px;
  color: var(--epcl-titles-color);
  font-size: 38px;
  line-height: 1.2;
  margin-bottom: 5px;
  word-break: break-word;
}
.article_item .item_header .title_container .created {
  color: var(--epcl-text-color);
  letter-spacing: 0.5px;
  font-size: 14px;
}
.article_item .item_tags {
  font-size: 13px;
  margin-top: 40px;
  padding: 0;
  position: relative;
  padding-right: 120px;
}
.article_item .item_tags ol {
  margin: 0;
  padding: 0;
}
.article_item .item_tags ol li {
  /*list-style-type: none;
  display: inline-flex;
  padding: 0 20px 0 0;
  position: relative;
  color: #020202;*/
  color: var(--epcl-black-color);
  display: inline-block;
  -webkit-box-shadow: 0px 2px 6px rgba(7, 10, 25, 0.1);
  box-shadow: 0px 2px 6px rgba(7, 10, 25, 0.1);
  padding: 8px;
  line-height: 1;
  margin-right: 10px;
  background: #fff;
  font-size: 14px;
  font-weight: 600;
}
.article_item .item_tags ol li span:first-child {
  font-size: 16px;
}
.article_item .item_tags .price {
  top: 0;
  left: auto;
  right: 0;
  bottom: auto;
  z-index: 1;
  position: absolute;
  color: var(--epcl-main-color);
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.article_item .continueReading_btn {
  top: auto;
  left: 50%;
  right: auto;
  bottom: -20px;
  z-index: 2;
  position: absolute;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: #fff;
  font-size: 15px;
  padding: 8px 25px;
  letter-spacing: 0.5px;
  font-family: "Josefin Sans", sans-serif;
  border: 2px solid var(--epcl-black-color);
  background-color: var(--epcl-black-color);
}
.article_item .continueReading_btn:before {
  content: "";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  z-index: 1;
  position: absolute;
  transition: all 0.3s ease;
  border: 1px solid var(--epcl-black-color);
}
.article_item .continueReading_btn:hover:before {
  border-color: #fff;
}

.archicle_info_item ul.articles_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.archicle_info_item ul.articles_list li {
  padding: 10px 120px 10px 20px;
  position: relative;
}
.archicle_info_item ul.articles_list li .t {
  color: #222;
  font-weight: 600;
}
.archicle_info_item ul.articles_list li:before {
  content: "";
  top: 18px;
  left: 0;
  right: auto;
  bottom: auto;
  z-index: 1;
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: var(--epcl-titles-color);
  border-radius: 50%;
}
.archicle_info_item ul.articles_list li .price_cell {
  top: 50%;
  left: auto;
  right: 0;
  bottom: auto;
  z-index: 1;
  position: absolute;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 120px;
  padding-left: 20px;
  font-size: 16px;
  text-align: right;
  font-weight: 600;
}
.archicle_info_item ul.articles_list li:hover {
  cursor: pointer;
}
.archicle_info_item ul.articles_list li:hover .t {
  text-decoration: underline;
}
.archicle_info_item.sticky {
  position: sticky;
  top: 80px;
}
.archicle_info_item.price_item_container .img {
  height: 160px;
  box-shadow: 0 0 1px red;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 1;
  position: absolute;
}
.archicle_info_item.price_item_container .like_box {
  width: 44px;
  height: 44px;
  background-color: transparent;
  float: left;
  transition: all 0.3s ease;
  border: 1px solid var(--epcl-black-color);
}
.archicle_info_item.price_item_container .like_box svg {
  fill: var(--epcl-secondary-color);
  width: 32px;
  transition: all 234ms linear;
}
.archicle_info_item.price_item_container .like_box.isActive, .archicle_info_item.price_item_container .like_box:hover {
  cursor: pointer;
}
.archicle_info_item.price_item_container .like_box.isActive svg, .archicle_info_item.price_item_container .like_box:hover svg {
  fill: var(--epcl-main-color);
}
.archicle_info_item.price_item_container .price {
  font-size: 38px;
  line-height: 1.2;
  margin-bottom: 17.6px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  color: var(--epcl-titles-color);
  margin-top: 150px;
}
.archicle_info_item.price_item_container .controls .archicle_btn {
  margin-bottom: 10px;
}
.archicle_info_item.price_item_container .controls .archicle_btn.withLike {
  width: calc(100% - 50px);
  float: left;
  margin-right: 6px;
}
.archicle_info_item .sectionsCount {
  color: var(--epcl-text-color);
  letter-spacing: 0.5px;
  font-size: 16px;
}

.list_info_wrapper {
  display: flex;
}
.list_info_wrapper .list_left {
  width: calc(100% - 360px);
}
.list_info_wrapper .list_pay {
  width: 340px;
  margin-left: 20px;
}

.article_change {
  width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 60px);
  padding: 20px 0;
}
.article_change .meta_row {
  width: 100%;
  height: 40px;
  display: flex;
}
.article_change .meta_row .inputs {
  width: calc(100% - 120px);
}
.article_change .meta_row .inputs .input {
  height: 32px;
  width: calc(50% - 4px);
  margin-right: 4px;
  float: left;
}
.article_change .meta_row .inputs .input input {
  width: 100%;
  height: 32px;
  padding: 0 10px;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: #999;
  border-radius: 2px;
  background-color: #fff;
}
.article_change .meta_row .inputs .input input:focus {
  border-color: green;
}
.article_change .meta_row button {
  width: 120px;
  height: 32px;
  text-align: center;
  background-color: #262626;
  background-color: #87af44;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 2px;
}
