@import '../components/_mixins.scss';

.articles_list_container {
    padding: 20px 0;
}

.item_box_title {
    font-size: 28px;
    padding-top: 14.4px;
    margin-bottom: 17.6px;
    line-height: 1.4;
    //
    font-weight: 700;
    font-family: "Josefin Sans",sans-serif;
    color: var(--epcl-titles-color);
}

.article_item,
.archicle_info_item,
.tag_group_item,
.basket_page,
.success_buy_page {
    background-color: #fff;
    margin: 0 auto 50px;
    padding: 50px 60px;
    -webkit-box-shadow: 0 3px 12px -1px rgba(7,10,25,.1), 0 22px 27px -30px rgba(7,10,25,.1);
    box-shadow: 0 3px 12px -1px rgba(7,10,25,.1), 0 22px 27px -30px rgba(7,10,25,.1);
    position: relative;
    z-index: 2;
}

.archicle_btn {
    color: #fff;
    font-size: 15px;
    padding: 8px 25px;
    letter-spacing: .5px;
    font-family: "Josefin Sans",sans-serif;
    border: 2px solid var(--epcl-black-color);
    background-color: var(--epcl-black-color);
    position: relative;
    min-height: 44px;

    &.full {
        width: 100%;
    }

    &:before {
        content: '';
        @include position_absolute(2px,2px,2px,2px,1);
        transition: all .3s ease;
        border: 1px solid var(--epcl-black-color);
    }

    &:hover {
        &:before {
            border-color: #fff;
        }
    }
}

.article_item,
.tags_page {
    .item_controls {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        //display: none; // DEV

        .controls_wrapper {
            height: 40px;

            input {
                border: 1px solid $color_green;
                background-color: #fff;
                color: $color_green;
                border-radius: 4px;
                text-transform: uppercase;
                font-size: 12px;
                padding: 2px 20px;
                font-weight: 600;
                margin: 0 2px;

                &:hover {
                    background-color: $color_green;
                    color: #fff;
                }

                &.delete {
                    border-color: red;
                    color: red;

                    &:hover {
                        background-color: red;
                        color: #fff;
                    }
                }
            }
        }
    }

    .item_body {
        p {
            margin: 35px 0 60px;
            color: var(--epcl-text-color);
            letter-spacing: .5px;
            font-size: 17px;
            //line-height: 1.2;
        }

        img {
            max-width: 100%;
            height: auto;
            aspect-ratio: auto;
        }
    }

    .item_header {
        display: flex;

        .img {
            width: 120px;
            height: 120px;
            box-shadow: 0 0 1px red;
            margin-right: 20px;
        }

        .title_container {
            width: calc(100% - 140px);

            .title {
                font-family: "Josefin Sans",sans-serif;
                font-weight: 700;
                font-size: 30px;
                margin-bottom: 40px;
                line-height: 1.45;
                letter-spacing: 0px;
                color: var(--epcl-titles-color);
                //
                font-size: 38px;
                line-height: 1.2;
                //
                margin-bottom: 5px;
                word-break: break-word;
            }

            .created {
                color: var(--epcl-text-color);
                letter-spacing: .5px;
                font-size: 14px;
            }
        }
    }

    .item_tags {
        font-size: 13px;
        margin-top: 40px;
        padding: 0;
        position: relative;
        padding-right: 120px;

        ol {
            margin: 0;
            padding: 0;

            li {
                /*list-style-type: none;
                display: inline-flex;
                padding: 0 20px 0 0;
                position: relative;
                color: #020202;*/
                color: var(--epcl-black-color);
                display: inline-block;
                -webkit-box-shadow: 0px 2px 6px rgba(7,10,25,.1);
                box-shadow: 0px 2px 6px rgba(7,10,25,.1);
                padding: 8px;
                line-height: 1;
                margin-right: 10px;
                background: #fff;
                font-size: 14px;
                //
                font-weight: 600;

                span:first-child {
                    font-size: 16px;
                }
            }
        }

        .price {
            @include position_absolute(0,0,auto,auto);
            color: var(--epcl-main-color);
            font-family: "Josefin Sans",sans-serif;
            font-size: 17px;
            font-weight: 500;
            text-align: right;
        }
    }

    .read_more_container {
        //padding-left: 20px;
        width: calc(100% - 140px);

        .rm_wrapper {
            //border: 1px solid #e0e0e0;
            //box-shadow: inset 0 0 8px 10px #222;
            text-align: right;
        }

        h6 {
            font-size: 18px;
            font-weight: 600;
            color: var(--epcl-black-color);
            line-height: 1;
        }

        span.rm_info {
            font-size: 14px;
            font-weight: 400;
            color: var(--epcl-black-color);
            line-height: 1;
            display: block;
            margin: 0 0 20px;
        }

        .btns_row {
            height: 45px;

            button {
                display: inline-block;
                //width: 115px;
                color: #fff;
                letter-spacing: 0.5px;
                position: relative;
                z-index: 2;
                box-shadow: none;
                outline: none;
                border: none;
                background-color: var(--epcl-blue-bg-color);
                font-family: "Josefin Sans", sans-serif;
                font-size: 14px;
                line-height: 1;
                padding: 0 15px;
                text-align: center;
                font-weight: 400;
                transition: all 0.3s ease;
                height: 45px;
                white-space: nowrap;

                &:before {
                    content: "";
                    @include position_absolute(2px,2px,2px,2px);
                    transition: all 0.3s ease;
                    border: 1px solid transparent;
                }

                &.fullPrice {
                    margin-left: 10px;
                    background-color: var(--epcl-orang-bg-color);
                }

                &:hover {
                    &:before {
                        border-color: #fff;
                    }
                }
            }
        }
    }

    .item_container {
        //box-shadow: 0 0 1px red;
    }



    .continueReading_btn {
        @include position_absolute(auto,auto,-20px,50%,2);
        @include transform_translate(-50%,0);
        //
        color: #fff;
        font-size: 15px;
        padding: 8px 25px;
        letter-spacing: .5px;
        font-family: "Josefin Sans",sans-serif;
        border: 2px solid var(--epcl-black-color);
        background-color: var(--epcl-black-color);

        &:before {
            content: '';
            @include position_absolute(2px,2px,2px,2px,1);
            transition: all .3s ease;
            border: 1px solid var(--epcl-black-color);
        }

        &:hover {
            &:before {
                border-color: #fff;
            }
        }
    }

    .priceBox_style {
        @include position_absolute(auto,0,0,auto);
        width: 160px;
        height: 160px;
        overflow: hidden;


        &:before {
            content: '';
            width: 260px;
            height: 260px;
            @include position_absolute(auto,-64%,-64%,auto);
            border-radius: 50%;
            background: #f9f9fe;
            border: 1px solid #f0f0fd;
        }

        .continueReading_price {
            @include position_absolute(auto,20px,40px,auto,2);
            color: var(--epcl-text-color);
            font-size: 18px;
            font-family: "Source Serif Pro","Source Sans Pro",serif;
            line-height: 1;
            letter-spacing: .25px;
            font-weight: 600;
            text-decoration: underline;

            span {
                font-size: 33px;
                font-weight: 100;
                padding: 2px;
            }
        }
    }
}

.archicle_info_item {
    // display: flex;
    ul.articles_list {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            padding: 10px 220px 10px 20px;
            //box-shadow: 0 0 1px red;
            position: relative;

            .t {
                color: #222;
                font-weight: 600;
            }

            .d {
                //
            }

            &:before {
                content: '';
                @include position_absolute(18px,auto,auto,0);
                width: 6px;
                height: 6px;
                background-color: var(--epcl-titles-color);
                border-radius: 50%;
            }

            .price_cell {
                @include position_absolute(0,0,auto,auto);
                width: 200px;
                padding-left: 20px;
                font-size: 16px;
                text-align: right;
                font-weight: 600;

                button {
                    display: inline;
                    margin: 6px 0 0;
                    padding: 0;
                    background-color: transparent;
                    box-shadow: none;
                    border: 1px solid var(--epcl-black-color);
                    //text-decoration: underline;
                    color: var(--epcl-black-color);
                    //
                    font-weight: 600;
                    font-size: 14px;
                    padding: 0 10px;
                    height: 29px;

                    &:hover {
                        cursor: pointer;
                        background-color: var(--epcl-black-color);
                        color: #fff;
                    }
                }
            }

            &:hover {
                cursor: pointer;

                .t {
                    //text-decoration: underline;
                }
            }
        }
    }

    &.sticky {
        position: sticky;
        top: 80px;
    }

    &.price_item_container {
        .img {
            height: 160px;
            box-shadow: 0 0 1px red;
            @include position_absolute(0,0,auto,0);
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .like_box {
            width: 44px;
            height: 44px;
            background-color: transparent;
            float: left;
            transition: all .3s ease;
            border: 1px solid var(--epcl-black-color);

            svg {
                fill: var( --epcl-secondary-color);
                fill: var(--epcl-black-color);
                width: 32px;
                transition: all 234ms linear;
            }


            &.isActive,
            &:hover {
                cursor: pointer;

                svg {
                    fill: var( --epcl-black-color);
                }
            }
        }

        .price {
            font-size: 38px;
            line-height: 1.2;
            margin-bottom: 17.6px;
            font-weight: 700;
            font-family: "Josefin Sans", sans-serif;
            color: var(--epcl-titles-color);
            margin-top: 150px;
        }

        .controls {
            .archicle_btn {
                margin-bottom: 10px;

                &.withLike {
                    width: calc(100% - 50px);
                    float: left;
                    margin-right: 6px;
                }
            }
        }
    }

    .sectionsCount {
        color: var(--epcl-text-color);
        letter-spacing: 0.5px;
        font-size: 16px;
    }
}

.list_info_wrapper {
    display: flex;

    .list_left {
        width: calc(100% - 360px);
    }

    .list_pay {
        width: 340px;
        margin-left: 20px;
    }
}

.article_change {
    width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 60px);
    padding: 20px 0;

    .meta_row {
        width: 100%;
        height: 40px;
        display: flex;

        .inputs {
            width: calc(100% - 120px);

            .input {
                height: 32px;
                width: calc(100%/2 - 4px);
                margin-right: 4px;
                float: left;

                input {
                    width: 100%;
                    height: 32px;
                    padding: 0 10px;
                    outline: none;

                    border: {
                        width: 1px;
                        style: solid;
                        color: #999;
                        radius: 2px;
                    }

                    background-color: #fff;

                    &:focus {
                        border-color: green;
                    }
                }
            }
        }

        button {
            width: 120px;
            height: 32px;
            text-align: center;
            background-color: #262626;
            background-color: #87af44;
            border: none;
            outline: none;
            color: #fff;
            border-radius: 2px;
        }
    }
}

.tags_page {
    width: 960px;

    .tags_row {
        form {
            display: table;
            width: 100%;

            .inputs {
                width: calc(100% - 240px);

                input {
                    display: block;
                    background: #f9f9fe;
                    border: 1px solid #f0f0fd;
                    color: var(--epcl-text-color);
                    font-size: 14px;
                    font-family: "Source Serif Pro","Source Sans Pro",serif;
                    line-height: 1.8;
                    letter-spacing: .25px;
                    padding: 15px 20px;
                    height: 45px;
                    width: 100%;
                    margin-bottom: 15px;
                    outline: 0;
                    transition: all .3s ease;
                }

                .input {
                    width: calc(100% - 54px);

                    input {
                        //
                    }
                }

                .inputColor {
                    width: 50px;
                    margin-left: 4px;

                    input {
                        padding: 6px;
                    }
                }

                .input,
                .inputColor {
                    float: left;
                }
            }

            .buttons {
                width: 240px;
                padding-left: 10px;
                float: left;
                display: flex;

                button {
                    display: inline-block;
                    width: 115px;
                    color: #fff;
                    letter-spacing: .5px;
                    position: relative;
                    z-index: 2;
                    //box-shadow: 0px 3px 5px -1px rgba(7,10,25,.2);
                    box-shadow: none;
                    outline: none;
                    border: none;
                    background-color: var(--epcl-blue-bg-color);
                    font-family: "Josefin Sans",sans-serif;
                    font-size: 14px;
                    line-height: 1;
                    padding: 0 5px;
                    text-align: center;
                    font-weight: 400;
                    transition: all .3s ease;
                    height: 45px;

                    &:last-child {
                        margin-left: 10px;
                        background-color: var(--epcl-orang-bg-color);
                    }

                    &[disabled] {
                        opacity: 0.4;
                    }
                }
            }
        }

        .mainTags_list {
            width: 100%;
            border-top: 1px dashed #e0e0e0;
            margin: 0;
            padding-top: 10px;
            padding-right: 0;

            h2 {
                font-weight: 500;
                font-family: "Josefin Sans",sans-serif;
                color: var(--epcl-titles-color);
                //
                font-size: 20px;
                padding-top: 30px;
                margin-bottom: 10px;
                line-height: 1.4;
            }

            ol {
                li {
                    position: relative;
                    margin-bottom: 10px;

                    button {
                        border: none;
                        box-shadow: none;
                        background-color: transparent;

                        &.delete {
                            background-color: var( --epcl-main-color);
                        }
                    }
                }
            }

            h2 + ol {
                padding-left: 30px;
                margin-left: 10px;
                border-left: 1px dashed #e0e0e0;
                padding-top: 10px;
            }
        }
    }
}

.profile_page {
    width: 1140px;
    margin: 40px auto 0;
    display: flex;
    min-height: calc(100vh - 80px);
    position: relative;
    background-color: white;
    box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.1), 0 22px 27px -30px rgba(7, 10, 25, 0.1);
    border: 1px solid #e0e0e0;

    .sideBar_container {
        width: 240px;
        @include position_absolute(0,auto,0,0);
        border-right: 1px solid #e0e0e0;
    }

    .content_container {
        width: 100%;
        padding-left: 240px;

        .content_header {
            border-bottom: 1px solid #e0e0e0;
            min-height: 80px;
            width: 100%;
            text-align: center;
            padding: 20px 0 0;

            h1 {
                line-height: 1;
                margin: 6px;
            }

            p {
                //
            }
        }

        .content_body {
            padding: 50px;

            .input_email_wrapper {
                position: relative;

                label {
                    @include position_absolute(0,0,0,auto,2);
                    z-index: 2;
                    border-left: 1px solid #f0f0fd;
                    padding: 0 16px;
                    overflow: hidden;
                    text-transform: uppercase;
                    font-size: 12px;
                    line-height: 42px;
                    font-weight: 600;
                    text-decoration: underline;


                    &:hover {
                        cursor: pointer;
                        background-color: rgba(23,57,83,.12);
                    }
                }
            }

            .t {
                color: #222;
                font-weight: 600;
            }
        }

        input {
            display: block;
            background: #f9f9fe;
            border: 1px solid #f0f0fd;
            color: var(--epcl-text-color);
            font-size: 14px;
            font-family: "Source Serif Pro","Source Sans Pro",serif;
            line-height: 1.8;
            letter-spacing: .25px;
            padding: 15px 20px;
            height: 45px;
            width: 100%;
            margin-bottom: 15px;
            outline: 0;
            transition: all .3s ease;
        }

        button {
            color: #fff;
            font-size: 15px;
            padding: 8px 25px;
            letter-spacing: .5px;
            font-family: "Josefin Sans",sans-serif;
            border: 2px solid var(--epcl-black-color);
            background-color: var(--epcl-black-color);
            position: relative;
            min-height: 44px;

            &.full {
                width: 100%;
            }

            &:before {
                content: '';
                @include position_absolute(2px,2px,2px,2px,1);
                transition: all .3s ease;
                border: 1px solid var(--epcl-black-color);
            }

            &:hover {
                &:before {
                    border-color: #fff;
                }
            }
        }

        .button_float_wrapper {
            height: 44px;
            width: 100%;

            button {
                float: right;
            }
        }

        .modal_wrapper {
            input {

                &#isOpenModal {
                    display: none;

                    &:checked + .modal_container {
                        opacity: 1;
                        pointer-events: all;

                        &:before {
                            content: '';
                        }
                    }
                }
            }

            .modal_container {
                opacity: 0;
                pointer-events: none;
                @include position_fixed(0,0,0,0,100);
                background-color: rgba(#222,.2);
                display: flex;
                justify-content: center;
                align-items: center;

                .modal_form {
                    width: 600px;
                    padding: 20px;
                    background-color: #fff;
                    box-shadow: 0 3px 12px -1px rgba(7,10,25,.1), 0 22px 27px -30px rgba(7,10,25,.1);
                    position: relative;

                    .close_modal {
                        width: 40px;
                        height: 40px;
                        @include position_absolute(0,0,auto,auto,10);
                        text-align: center;
                        overflow: hidden;
                        line-height: 31px;
                        font-size: 26px;
                        cursor: pointer;
                    }

                    h4 {
                        margin-bottom: 20px;
                    }

                    form label {
                        color: #222;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.sideProfile,
.profile_page,
article.article_item,
.basket_page {

    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #e0e0e0;
        margin: 20px 0;

        &.nLinePrice {
            width: calc(100% - 140px);
        }
    }
}

.sideProfile {
    padding: 20px;

    .avatar {
        width: 120px;
        height: 120px;
        background-color: var(--epcl-black-color);

        border: {
            radius: 50%;
        }

        margin: 0 auto;
        overflow: hidden;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 44px;
    }

    .user_name {
        color: #222;
        font-weight: 600;
        font-size: 17px;
        margin: 20px auto;
        text-align: center;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            padding: 4px 0;
            text-align: center;

            a {
                color: #222;
                font-weight: 600;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
