@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700&display=swap");
body {
  font-family: "Nunito", sans-serif;
}

.auth_page_component {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(120deg, rgb(255, 255, 255) 0%, rgb(252, 239, 255) 100%);
}
.auth_page_component .form_container {
  width: 540px;
  min-height: 400px;
  position: relative;
  /*background: rgb(255,255,255);
  background: linear-gradient(63deg, rgba(255,255,255,1) 0%, rgba(255,242,208,1) 100%);
  */
  background-color: #fff;
  border: 1px solid rgba(224, 224, 224, 0.4);
  padding: 60px 120px;
  box-shadow: 0 0 10px -8px #222;
  border-radius: 4px;
  border-width: 1px;
}
.auth_page_component .form_container form {
  width: 100%;
  margin: 0 auto;
}
.auth_page_component .form_container form h1 {
  text-align: center;
  padding: 0 0 40px;
  margin: 0;
  font-size: 30px;
  font-family: "Nunito", sans-serif;
}
.auth_page_component .form_container .success_container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth_page_component .form_container .success_container h1 {
  text-align: center;
  color: #87af44;
}
.auth_page_component .form_container .success_container p {
  color: #000;
  text-align: center;
}
.auth_page_component .form_container .success_container .auth {
  margin-bottom: 0;
}
.auth_page_component .form_container .form_control {
  margin-bottom: 20px;
}
.auth_page_component .form_container .form_control .control_title {
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
  margin-bottom: 6px;
  text-transform: uppercase;
}
.auth_page_component .form_container .form_control .control_data {
  width: 100%;
  position: relative;
}
.auth_page_component .form_container .form_control .control_data input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: #999;
  border-radius: 2px;
  background-color: transparent;
}
.auth_page_component .form_container .form_control .control_data input:focus {
  border-color: green;
}
.auth_page_component .form_container .form_control .control_data .field-validation-error {
  color: red !important;
  font-size: 14px;
  line-height: 1;
}
.auth_page_component .form_container .forgot,
.auth_page_component .form_container .auth {
  color: #9d9d9d;
  text-align: center;
  margin-bottom: 20px;
}
.auth_page_component .form_container .forgot a,
.auth_page_component .form_container .auth a {
  text-decoration: none;
}
.auth_page_component .form_container .forgot a:hover,
.auth_page_component .form_container .auth a:hover {
  text-decoration: underline;
}
.auth_page_component .form_container .auth {
  border-top: 1px dashed #e0e0e0;
  padding: 20px 0;
}
.auth_page_component .form_container .auth a {
  color: #000;
  text-decoration: underline;
}
.auth_page_component .form_container .forgot {
  margin: 20px 0;
}
.auth_page_component .form_container .submit_btn {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #262626;
  background-color: #87af44;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 2px;
  margin-bottom: 20px;
}
