@import '../components/_mixins.scss';

$header_height: 60px;

header {
    @include position_fixed(0,0,auto,0,10);
    height: $header_height;
    box-shadow: 0 0 10px -6px #222;
    background-color: #fff;

    .header_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:before {
        content: '';
        @include position_absolute(auto,0,0,0);
        border-bottom: 1px solid #e0e0e0;
    }

    ul.header_menu {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            display: inline-flex;
            padding: 0 10px;
            position: relative;

            a,
            a:visited {
                height: $header_height;
                line-height: $header_height;
                text-decoration: none;
                color: #000;
                font-size: 16px;

                &:hover {
                    cursor: pointer;
                }
            }

            &.isSelected,
            &:hover {
                &:before {
                    content: '';
                    @include position_absolute(auto,0,0,0);
                    border-bottom: 2px solid #4b4870;
                }
            }
        }
    }

    .user_menu_wrapper {
        min-width: $header_height;
        height: $header_height;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;

        .basket {
            min-width: $header_height;
            height: $header_height;
            position: relative;

            border: {
                width: 0 1px;
                style: solid;
                color: rgba(#e0e0e0,0.4);
            }

            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                color: #222;
                font-size: 25px;
                transform: translate(-3px,6px);
            }

            .count {
                @include position_absolute(5px,5px,auto,auto);
                background-color: var(--epcl-orang-bg-color);
                padding: 2px 4px;
                font-weight: 700;
                font-size: 11px;
                border-radius: 8px;
                height: 20px;
                min-width: 20px;
                text-align: center;
                line-height: 13px;
            }
        }

        .user_menu_icon {
            width: 24px;
            height: 24px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: calc(($header_height - 24px)/2);

            border: {
                width: 3px 0;
                style: solid;
                color: var(--epcl-titles-color);
            }

            > div {
                width: 100%;
                height: 3px;
                background-color: var(--epcl-titles-color);
            }
        }

        .user_menu_container {
            @include position_absolute(calc(100%),0,auto,auto);
            width: 260px;
            background-color: #fff;
            box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
            color: #2d2f31;
            //
            opacity: 0;
            pointer-events: none;
            //transition: all .3s ease;

            .line {
                padding: 1.6rem;
                border-bottom: 1px solid #d1d7dc;
            }

            .user_info {
                display: flex;

                .img_i {
                    width: 48px;
                    height: 48px;
                    //
                    background: #2d2f31;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    color: #fff;
                    //
                    font-weight: 700;
                    line-height: 1.2;
                    letter-spacing: -.02rem;
                    font-size: 24px;
                    max-width: 36em;
                }

                .info_i {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    margin-left: 0.8rem;
                    min-width: 1px;
                    word-break: break-word;
                    color: #222;
                    font-weight: 600;

                    .name {
                        font-weight: 700;
                        line-height: 1;
                        letter-spacing: -.02rem;
                        font-size: 20px;
                    }

                    .email {
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color: #6a6f73;
                        max-width: 140px;
                    }
                }
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    padding: 2px 0;

                    a {
                        color: #222;
                        font-weight: 600;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        &:hover {
            .user_menu_container {
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}

.body_container {
    padding: $header_height 0 0 0;

    .container_content {
        /*width: 960px;*/
        width: 82%;
        margin: 0 auto;
        min-height: calc(100vh - 60px);

        &.w1260 {
            width: 1260px;
        }

        &.w960 {
            width: 960px;
        }
    }
}

body {
    --epcl-main-color: #ff4c60;
    --epcl-secondary-color: #65ebe7;
    --epcl-titles-color: #454360;
    --epcl-black-color: #4b4870;
    --epcl-text-color: #596172;
    --epcl-border-color: #eee;
    --epcl-input-bg-color: #f9f9fe;
    --epcl-orang-bg-color: #f7b454;
    --epcl-blue-bg-color: #63cdf1;
    //
    font: 17px "Source Serif Pro","Source Sans Pro",serif;
    background-color: #f9f9fe !important;
    color: var(--epcl-text-color);
}
